/*index1*/
.top{border:1px solid transparent;background-color:#EE7641;width:100%;height:250px;}

.userinfo{width:200px;margin:0 auto;padding:0 auto;}
.teachname{font-size: 45px;margin-top:15px;}
.mypoint{font-size: 25px;}
.points{font-size: 45px;color: #fff;}

.up{border:1px dashed transparent;text-align: center;}
.up table tr{border:1px solid #ddd;}
.tab{overflow:hidden;zoom:1;background-color:#fff;border:1px solid #000;}
.tab span{height:60px;text-align: center;line-height: 60px;background-color:#fff;}

.scores{margin-top:5%;margin-bottom:5%;}
.scoresm{padding:40px 0 40px 40px;}
.cuxiao{background-color:#FEE8D0;border-radius: 20px;border:0;border:1px solid #000;height:auto;width:90%;margin:0 auto;padding:0 auto;}
