<div class="pure-g bgcolor">
    <div style="width:96%;margin:0 auto;margin-top:20%;">
        <div class="topred" ng-click="gotest()">
            <p>今天的补偿作业已更新，预计花费<span class="orange" ng-bind=""></span>分钟</p>
            <p>能帮你提高<span class="orange" ng-bind=""></span>分，开始测试</p>
            <p>（周一至周五每天17：00系统自动推送）</p>

        </div>
        <div class="centleft" ng-click="gotestindex()">
            极速测试
        </div>
        <div class="centright" ng-click="gocondition()">
            浏览题库
        </div>
        <div class="btmora" ng-click="goerrorIndex()">
            我的错题本
        </div>
    </div>
</div>