// Base font size in used in _mixins.scss
$base-root-size: 16;

//colors https://github.com/mrmrs/colors/blob/master/sass/_variables.scss
$aqua: #4EB8A3;
$blue: #4EB8A3;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: transparent;
$gray: #aaa;
$black: #111;

//customize color
$dark-blue: #4EB8A3;
$head-green: #41B39C;
$light-blue: #4EB8A3;
$lighter-blue: #32c0b9;

$button-height: 70px;

//20160201 tongfei
$colora6:#a6a6a6;
$greena0:#41b39c;
 
